@import "tailwindcss";

html {
  transition: background-color 0.3s, color 0.3s;
}
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: theme(colors.gray.50);
  --text: theme(colors.gray.900);
}

.dark {
  --bg: theme(colors.gray.950);
  --text: theme(colors.gray.100);
}

body {
  background-color: var(--bg);
  color: var(--text);
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  transition: background-color 0.3s, color 0.3s;
}